
@media print {
    nav, footer {
        display: none;
    }
    
    /* 确保所有内容都适合页面宽度 */
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    section {
        margin: 5% !important;
        padding: 0 !important;
        width: 90% !important;
    }
    
    /* 调整容器宽度 */
    .container {
        padding: 0;
        margin: 0;
    }
    
    
    /* 确保表格和其他块级元素不超出页面宽度 */
    table, pre, code, blockquote {
        width: 100%;
        word-wrap: break-word;
    }
    
    /* 优化表格样式 */
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        border: 1px solid #000;
        padding: 4px;
    }
    
    /* 保持标题的层级 */
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }
    
    /* 页眉和页脚 */
    @page {
        margin: 0cm;
    }
    @page :left {
        margin-left: 0cm;
        margin-right: 0cm;
    }
    @page :right {
        margin-left: 0cm;
        margin-right: 0cm;
    }
    
}