
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* https://pictogrammers.com/library/mdi/ */
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@7.4.47/css/materialdesignicons.min.css");
@import url("./components/utilities.css");
@import url("./components/header.css");
@import url("./components/color.css");
@import url("./components/button.css");
@import url("./components/fab-button.css");
@import url("./components/card.css");
@import url("./components/flex.css");
@import url("./components/grid.css");
@import url("./pages/shop.css");
@import url("./pages/categorymanage.css");

@import url("./components/form.css");
@import url("./components/typography.css");
@import url("./components/list.css");
/* @import url("./components/typography.css"); */


*{
    /*rimuovo i margini prefdefiniti dal browser*/
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html{
    font-size: 16px;
    box-sizing: border-box;
}


/*Imposto dei colori e font principali da utilizzare per tutto il sito*/
:root{
    --headerBgColor: rgb(229, 226, 218);
    --headerTxtColor: rgb(101, 67, 33);
    --bgColor: rgb(229, 226, 218);
    --txtColor: black;
    --footerBgColor: rgb(101, 67, 33);
    --footerTxtColor: white;
    --visitedLinkColor: rgb(226, 158, 11);
    --linkColor: rgb(101, 67, 33);
    --flagColor: rgb(101, 67, 33);
    --bordersColor: white;
    --font-body-family: "roboto Condensed", sans-serif;
    --font-header-family: "";

    --headerHeight: 80px;
    --footerHeight: 48px;
}


.vertical-line {
    border: none;
    border-left: 2px solid var(--linkColor); 
    height: 35px; 
    margin: 0 10px;
}



html {
    scroll-behavior: smooth;
    background-color: var(--bgColor);
}
main{
    margin-top: calc(var(--headerHeight));
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - var(--headerHeight) - 2*10px);
}



main .cover-image {
    width: 100%;
    height: 50vh;
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8),  4px 4px 8px rgba(0, 0, 0, 0.8); 
}




footer{
    background-color: var(--footerBgColor);
    color: var(--footerTxtColor);
    border-top: 1px solid var(--bordersColor);
    height: var(--footerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100%-40px);
    padding: 0 20px;
    padding-right: 80px;
}

footer a{
    text-decoration: none;
    color: var(--footerTxtColor);
    font-size: 1.5rem;
    margin: 0 10px;

}


.container {
    margin: 0 15%;
}


@media screen and (max-width: 1440px){
    .container {
        margin: 0 10%;
    }
}

@media screen and (max-width: 1024px){
    .container {
        margin: 0 5%;
    }

}
/* Styles for screens with a maximum width of 767px (mobile devices) */
@media screen and (max-width: 767px) {
    main{
        margin-top: calc(var(--headerHeight) * 1.5);
    }
    .container {
        margin: 0 5%;
    }

    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 2%;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
    
}



#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}


#about .card {
    width: calc(50% - 20px);
    margin: 10px;
}

@media screen and (max-width: 767px) {
    #about .card {
        width: calc(100% - 20px);
        margin: 10px;
    }
}


#cart_table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    white-space: nowrap;
}

#cart_table thead, #cart_table tfoot{
    background-color: lightgray;
    color: black;
}

#cart_table th, #cart_table tfoot td {
    padding: 10px;
    text-align: start;
    font-weight: bold;
}

#cart_table img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

#cart_table td {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

#detail_image{
    width: 45%;
}

#detail_info{
    width: 55%;
}

@media screen and (max-width: 767px) {

    #detail_image{
        width: 100%;
    }

    #detail_info{
        width: 100%;
    }
}


#detail_info input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#detail_rate{
    width: 28%;
}

#detail_comment{
    width: 68%;
}

@media screen and (max-width: 767px) {

    #detail_rate{
        width: 100%;
    }

    #detail_comment{
        width: 100%;
    }
    
}

#home .card {
    height: 390px;
}


aside {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
}

aside h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside li {
    margin: 5px 0;
}

aside li ul {
    margin-left: 15px;
}

#category_manager {
    min-height: 100vh;
}