<section class="container card pa-2 text-center" aria-labelledby="error500">
    <span class="mdi mdi-server-off text-icon-xxxl red" aria-hidden="true"></span>
    <h1 id="error500" class="mt-2">500</h1>
    <p class="mt-2">La richiesta non può essere completata a causa di un errore interno del server.</p>

    <p class="mt-2">Contatta l'amministratore del sito per ulteriori informazioni.</p>

    <p class="mt-2" role="alert" class="text-paragraph red" aria-live="assertive">{{ error }}</p>

    <a class="mt-2" href="index.php" class="btn btn-success">Torna alla pagina principale</a>
</section>