<div class="cover-image">
    <h2 tabindex="0">Chi siamo</h2>
    <small tabindex="0" aria-label="Sei nella pagina About">Home > About US</small>
</div>

<div id="about" class="container">
    <h2 class="text-title" tabindex="0">Chi siamo?</h2>
    <p class="text-paragraph justified" tabindex="0">
        Noi siamo un gruppo di studenti del corso di laurea in Informatica dell'Università di Padova.
        Questo sito è stato creato come progetto per il corso di Tecnologie Web.
        Il nostro obiettivo è quello di offrire ai nostri clienti prodotti di alta qualità a prezzi accessibili.
        Siamo un'azienda giovane e dinamica che si impegna a soddisfare le esigenze dei nostri clienti.
    </p>

    <h2 class="text-title" tabindex="0">Nostro team</h2>

    <div class="team-list">
        <div class="team-card">
            <img role="presentation" aria-hidden="true" class="team-img" src="https://avatars.githubusercontent.com/u/18526088?v=4" alt="Foto di Yi Hao Zhuo">
            <div class="team-info">
                <p tabindex="0" class="team-info-title">Yi Hao Zhuo</p>
                <p tabindex="0" class="team-info-subtitle">Università di Padova</p>
                <a tabindex="0" class="team-info-text" href="mailto:yihao.zhuo@studenti.unipd.it">yihao.zhuo@studenti.unipd.it</a>
                <p tabindex="0" class="team-info-text" aria-label="Ruolo: Back-end, Front-end, Struttura principale">Back-end, Front-end, Struttura principale</p>
            </div>
            <div class="team-background-box">
                <img class="team-background" src="img/cover.jpg" alt="">
            </div>
        </div>

        <div class="team-card">
            <img role="presentation" aria-hidden="true" class="team-img" src="https://avatars.githubusercontent.com/u/116121635?v=4" alt="Foto di Yixin Huang">
            <div class="team-info">
                <p tabindex="0" class="team-info-title">Yixin Huang</p>
                <p tabindex="0" class="team-info-subtitle">Università di Padova</p>
                <a tabindex="0" class="team-info-text" href="mailto:yixin.huang@studenti.unipd.it">yixin.huang@studenti.unipd.it</a>
                <p tabindex="0" class="team-info-text" aria-label="Ruolo: Front-end, Web design">Front-end, Web design</p>
            </div>
            <div class="team-background-box">
                <img class="team-background" src="img/cover.jpg" alt="">
            </div>
        </div>

        <div  class="team-card">
            <img role="presentation" aria-hidden="true" class="team-img" src="https://avatars.githubusercontent.com/u/46593774?v=4" alt="Foto di Guirong Lan">
            <div class="team-info">
                <p tabindex="0" class="team-info-title">Guirong Lan</p>
                <p tabindex="0" class="team-info-subtitle">Università di Padova</p>
                <a tabindex="0" class="team-info-text" href="mailto:guirong.lan@studenti.unipd.it">guirong.lan@studenti.unipd.it</a>
                <p tabindex="0" class="team-info-text" aria-label="Ruolo: Database">Database</p>
            </div>
            <div class="team-background-box">
                <img class="team-background" src="img/cover.jpg" alt="">
            </div>
        </div>

        <div  class="team-card">
            <img role="presentation" aria-hidden="true" class="team-img" src="https://avatars.githubusercontent.com/u/101065913?v=4" alt="Foto di Valerio Occhinegro">
            <div class="team-info">
                <p tabindex="0" class="team-info-title">Valerio Occhinegro</p>
                <p tabindex="0" class="team-info-subtitle">Università di Padova</p>
                <a  tabindex="0" class="team-info-text" href="mailto:valerio.occhinegro@studenti.unipd.it">valerio.occhinegro@studenti.unipd.it</a>
                <p tabindex="0" class="team-info-text" aria-label="Ruolo: Accessibilità">Accessibilità</p>
            </div>
            <div class="team-background-box">
                <img class="team-background" src="img/cover.jpg" alt="">
            </div>
        </div>
    </div>

    <br>

    <h2 class="text-title">Dove trovarci</h2>
    <div class="card px- w-100">
        <div class="card-text">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.073394394073!2d11.8763943155671!3d45.40643107910029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477ebf3e3f3f3f3f%3A0x3e3f3f3f3f3f3f3f!2sUniversity%20of%20Padua!5e0!3m2!1sen!2sit!4v1617220730003!5m2!1sen!2sit"
                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" title="Mappa della posizione dell'Università di Padova"></iframe>
        </div>
    </div>
</div>
