<div class="item">
    <div class="item-detail">
        <div class="image">
            <img role="presentation" src="{{ url }}" alt="">
        </div>
        <div class="desc">
            <p class="title">{{ name }}</p>
            <p class="price">{{ price }}</p>
            <p class="text">Colore: {{ color }}</p>
        </div>
    </div>
    <div class="bottons">
        <input type="number" id="quantity-input" value="1" min="1" max="99">
        <a href="#" class="edit">Modifica</a>
        <a href="#" class="delete">Elimina</a>
    </div>
</div>