<section class="cart container" aria-labelledby="cart_title">
    <h2 id="cart_title" class="text-title">Carello</h2>
    <div class="list">
        {{ items }}
    </div>
    <div class="total">
        <div class="text">Totale: {{ total }}€</div>
    </div>
    <div class="d-flex space-between flex-wrap ">
        <a href="shop.php" class="btn ma-2">Continua lo shopping</a>
        <div class="d-flex space-between flex-wrap ">
            <a href="checkout.php" class="btn btn-success ma-2">Procedi al pagamento</a>
        </div>
    </div>
</section>