<div class="item">
    <div class="item-detail">
        <div class="image">
            <img role="presentation" src="{{ url }}" alt="">
        </div>
        <div class="desc">
            <p class="title">{{ name }}</p>
            <p class="price">{{ price }}</p>
            <p class="text">Colore: {{ color }}</p>
        </div>
    </div>
    <div class="bottons">
        <input type="number" id="quantity-input" value="{{ qty }}" disabled aria-label="Quantità di {{ name }}">
        <a href="#" class="btn btn-info edit">Modifica</a>
        <a href="#" class="btn btn-danger delete">Elimina</a>
    </div>
</div>