<li role="listitem">
    <a href="cart.php" aria-labelledby="header_cart" title="Carrello">
        <span class="mdi mdi-cart" aria-hidden="true">{{ cart_count }}</span>
        <span id="header_cart" class="sr-only" aria-label="Carrello con {{ cart_count }} prodotti">Carrello</span>
    </a>
</li>
<li role="listbox">
    <a href="login.php" aria-describedby="header_login" title="Accedi">
        <span class="mdi mdi-login" aria-hidden="true"></span>
        <span id="header_login">Accedi</span>
    </a>
</li>
