<header>
    <div class="logo-container">
        <div class="logo"></div>
        <p class="logo-title">{{ title }}</p>
    </div>

    <!-- <form action="#" class="search-container ">
        <input type="text" placeholder="Search..." class="search-input">
        <button class="btn bg-transparent"><i class="mdi mdi-magnify"></i></button>
    </form> -->

    <nav >
        <ul>
            <li><a href="index.php" aria-label="{{ home }}" title="{{ home }}"><span class="mdi mdi-home" aria-hidden="true">{{ home }}</span></a></li>
            <li><a href="shop.php"  aria-label="{{ shop }}" title="{{ shop }}"><span class="mdi mdi-shopping" aria-hidden="true">{{ shop }}</span></a></li>
            <li><a href="about.php" aria-label="{{ about }}" title="{{ about }}"><span class="mdi mdi-account-multiple" aria-hidden="true">{{ about }}</span></a></li>
            <hr class="vertical-line">
            {{ login_logout }}
        </ul>
    </nav>
</header>