<li role="listitem">
    <a href="userprofile.php" aria-labelledby="header_profile" title="Profilo">
        <span class="mdi mdi-account" aria-hidden="true"></span>
        <span id="header_profile" class="sr-only">Profilo</span>
    </a>
</li>

<li role="listitem" class="{{ isAdmin }}">
    <a href="categorymanage.php" aria-labelledby="header_gestion" title="Gestione">
        <span class="mdi mdi-cog" aria-hidden="true"></span>
        <span id="header_gestion"  class="sr-only">Gestione</span>
    </a>
</li>
<li class="vertical-line"></li>
<li role="listitem">
    <a href="logout.php" aria-labelledby="header_logout" title="Esci profile">
        <span class="mdi mdi-logout" aria-hidden="true"></span>
        <span id="header_logout"lang="en">Logout</span>
    </a>
</li>
