<div class="cover-image">
    <h1>Benvenuti a nostro webshop</h1>
    <p>Qui troverai tutto quello che ti serve</p>
    <button class="btn btn-large bg-white black mt-2">Chi Siamo Noi</button>
</div>

<div class="container">
    <br>
    <h2 class="text-title">Obiettivo</h2>
    <p class="text-paragraph justified">
        <
        <div class="flex-2">
            MediaShop2000 è un negozio online che vende prodotti elettronici,
            elettrodomestici e accessori per la casa.
            Il nostro obiettivo è quello di offrire ai nostri clienti prodotti di alta qualità a prezzi accessibili.
            Siamo un'azienda giovane e dinamica che si impegna a soddisfare le esigenze dei nostri clienti.
            Siamo sempre alla ricerca di nuovi prodotti e marchi da aggiungere al nostro assortimento.
            Se hai domande o suggerimenti, non esitare a contattarci.
            Siamo qui per aiutarti.
        </div>
        <div class="flex-1">
            <img src="https://picsum.photos/200/300?a=fgj0" alt="A descriptive text about the content of the image 1">
        </div>
    </p>
    <br>
    <h2 class="text-title">Storia</h2>
    <p class="text-paragraph justified">
        MediaShop2000 è stata fondata nel 2024 da un gruppo di tecweb che condividevano la passione per lo sviluppo di
        un sito web.
        In base Html5 e Css3, il nostro sito web è stato progettato per essere facile da usare e accessibile a tutti.
        Da allora, siamo uniti e progettiamo uno sito rivenditori online di prodotti elettronici di anni 2000 al momento
        in Italia.
        La nostra missione è quella di offrire ai nostri clienti una vasta gamma di prodotti di riccordi a prezzi
        competitivi.
        Siamo orgogliosi di offrire un servizio clienti di prima classe e di garantire la soddisfazione dei nostri
        clienti.
        Siamo sempre alla ricerca di nuovi modi per migliorare e soddisfare le esigenze dei nostri clienti.
        Grazie per aver scelto MediaShop2000.
    </p>

    <br>
    <h2 class="text-title">Popular products</h2>
    <div class="grid-container grid-4-col pa-2">
        {{ selection_2 }}
    </div>
    
</div>
