<section class="cover-image" id="about" aria-labelledby="home_welome">
    <h2 id="home_welome">Benvenuti a nostro webshop</h2>
    <p>Qui troverai tutto quello che ti serve</p>
</section>

<section id="home" class="container" aria-labelledby="home_about_us">
    <h2 id="home_about_us" class="text-title mt-2">Chi siamo?</h2>
    
    <div class="d-flex flex-wrap mt-2">
        <div class="col-4">
            <div class="card presentation ma-1 pa-3 text-center">
                <span class="mdi mdi-account-multiple text-icon-xxl" aria-hidden="true"></span>
                <div class="card-title">
                    <h3>Chi siamo?</h3>
                </div>
                <div class="card-text justified">
                    <p>Noi siamo un gruppo di studenti del corso di laurea in Informatica dell'Università di Padova.
                        Questo sito è stato creato come progetto per il corso di Tecnologie Web.
                        Il nostro obiettivo è quello di offrire ai nostri clienti prodotti di alta qualità a prezzi
                        accessibili.
                        Siamo un'azienda giovane e dinamica che si impegna a soddisfare le esigenze dei nostri clienti.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card presentation ma-1 pa-3 text-center">
                <span class="mdi mdi-school text-icon-xxl" aria-hidden="true"></span>
                <div class="card-title">
                    <h3>Nostro team</h3>
                </div>
                <div class="card-text justified">
                    <p>
                        Composto da quattro studenti del corso di laurea in Informatica dell'Università di Padova.
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card presentation ma-1 pa-3 text-center">
                <span class="mdi mdi-point-of-sale text-icon-xxl" aria-hidden="true"></span>
                <div class="card-title">
                    <h3>Obietivo</h3>
                </div>
                <div class="card-text justified">
                    <p>MediaShop2000 è un negozio online che vende prodotti elettronici, elettrodomestici e accessori
                        per la casa.
                        Il nostro obiettivo è quello di offrire ai nostri clienti prodotti di alta qualità a prezzi
                        accessibili.
                        Siamo un'azienda giovane e dinamica che si impegna a soddisfare le esigenze dei nostri clienti.
                        Siamo sempre alla ricerca di nuovi prodotti e marchi da aggiungere al nostro assortimento.
                        Se hai domande o suggerimenti, non esitare a contattarci.
                        Siamo qui per aiutarti.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container" aria-labelledby="home_goal">
    <h2 id="home_goal" class="text-title mt-2">Obiettivo</h2>
    <p class="text-paragraph justified">
        MediaShop2000 è un negozio online che vende prodotti elettronici,
        elettrodomestici e accessori per la casa.
        Il nostro obiettivo è quello di offrire ai nostri clienti prodotti di alta qualità a prezzi accessibili.
        Siamo un'azienda giovane e dinamica che si impegna a soddisfare le esigenze dei nostri clienti.
        Siamo sempre alla ricerca di nuovi prodotti e marchi da aggiungere al nostro assortimento.
        Se hai domande o suggerimenti, non esitare a contattarci.
        Siamo qui per aiutarti.
    </p>
</section>

<section class="container" aria-labelledby="home_history">
    <h2 id="home_history" class="text-title mt-2">Storia</h2>
    <p class="text-paragraph justified">
        MediaShop2000 è stata fondata nel 2024 da un gruppo di tecweb che condividevano la passione per lo sviluppo di
        un sito web.
        In base Html5 e Css3, il nostro sito web è stato progettato per essere facile da usare e accessibile a tutti.
        Da allora, siamo uniti e progettiamo uno sito rivenditori online di prodotti elettronici di anni 2000 al momento
        in Italia.
        La nostra missione è quella di offrire ai nostri clienti una vasta gamma di prodotti di riccordi a prezzi
        competitivi.
        Siamo orgogliosi di offrire un servizio clienti di prima classe e di garantire la soddisfazione dei nostri
        clienti.
        Siamo sempre alla ricerca di nuovi modi per migliorare e soddisfare le esigenze dei nostri clienti.
        Grazie per aver scelto MediaShop2000.
    </p>

</section>

<section class="container" aria-labelledby="home_products">
    <h2 id="home_products" class="text-title">Prodotti popolari</h2>
    <div class="d-flex flex-wrap pa-2">
        {{ selection_2 }}
    </div>
</section>