<section class="container login" aria-labelledby="login_title">
    <h1 id="login_title" class="title" tabindex="0">Benvenuti a MediaShop2000</h1>
    <h2 class="subtitle" tabindex="0">Un negozio di passato</h2>
    
    <div class="panel">
        <!-- Accessible login form -->
        <form id="loginForm" action="login.php" method="POST" aria-describedby="error-msg" onsubmit="return validateLoginForm();">
            <div class="input">
                <!-- Error message -->
                <div role="alert" id="error-msg" class="text-paragraph red" aria-live="assertive"></div>
                
                <!-- Username field -->
                <div class="title">
                    <label for="username" lang="en">Username:</label>
                    <input type="text" id="username" name="username" placeholder="" required aria-required="true">
                </div>
                
                <!-- Password field -->
                <div class="title">
                    <label for="password" lang="en">Password:</label>
                    <input type="password" id="password" name="password" placeholder="" required aria-required="true">
                </div>
                
                <!-- Submit button -->
                <div class="title">
                    <a href="register.php" class="btn btn-secondary">Registrati</a>
                    <input type="submit" value="Accedi" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
</section>
