
<section class="cover-image" aria-labelledby="shop_title">
    <h2 id="shop_title">NEGOZIO</h2>
    <p>Qui troverai tutto quello che ti serve</p>
</section>


<section id="shop" class="container d-flex flex-wrap" aria-labelledby="shop_content">
    <h2 id="shop_content" class="sr-only">Prodotti</h2>
    
    <aside id="category_nav" class="col-3 col-md-12" aria-labelledby="shop_nav">
        <h2 id="shop_nav" class="text-title">Categorie</h2>
        <ul role="list" class="list-group">
            {{ categories }}
        </ul>
    </aside>
    
    <div class="products col-9" aria-labelledby="shop_products">
        <h2 id="shop_products" class="col-12 text-title">Prodotti</h2>
        {{ products }}
    </div>
</section>