
<div class="cover-image">
    <h2>NEGOZIO</h2>
    <small>Home > Shop</small>
</div>

<div id="shop" class="container">
    <br/>
    <aside>
        <h2>Categorie</h2>
        <ul>
            <li>Cellulari
                <ul>
                    <li>Smartphone</li>
                    <li>Telefoni Fissi</li>
                </ul>
            </li>
            <li>Computer
                <ul>
                    <li>Desktop</li>
                    <li>Notebook</li>
                </ul>
            </li>
            <li>Console
                <ul>
                    <li>Console per la Casa</li>
                    <li>Console Portatili</li>
                </ul>
            </li>
            <li>Fotocamere Digitali
                <ul>
                    <li>Fotocamere Reflex</li>
                    <li>Fotocamere Mirrorless</li>
                    <li>Fotocamere Compatte</li>
                </ul>
            </li>
        </ul>
    </aside>
    <br>
    <section class="products">
        <div class="product">
            <a href="product_detail.php?id=1">
                <img src="/img/logo.png" alt="Immagine del Prodotto">
            </a>
            <div class="product-info">
                <div class="product-price">
                    <div class="product-discount">-10%</div>
                    <div class="product-old-price">€1369</div>
                    <div class="product-new-price">€1234</div>
                </div>
                <a href="product_detail.php?id=1" class="product-name">Nome del Prodotto 0</a>
                <div class="product-rating">★★★  </div>
                <div class="product-tags">Marca: XYZ </div>
                <div class="product-tags">Tipo: Smartphone</div>
                <div class="product-tags">Anno: 2018</div>
            </div>
        </div>
        <div class="product">
            <a href="product_detail.php?id=1">
                <img src="/img/logo.png" alt="Immagine del Prodotto">
            </a>
            <div class="product-info">
                <div class="product-price">
                    <div class="product-discount">-10%</div>
                    <div class="product-old-price">€1369</div>
                    <div class="product-new-price">€1234</div>
                </div>
                <a href="product_detail.php?id=1" class="product-name">Nome del Prodotto 0</a>
                <div class="product-rating">★★★  </div>
                <div class="product-tags">Marca: XYZ </div>
                <div class="product-tags">Tipo: Smartphone</div>
                <div class="product-tags">Anno: 2018</div>
            </div>
        </div>
        <div class="product">
            <a href="product_detail.php?id=1">
                <img src="/img/logo.png" alt="Immagine del Prodotto">
            </a>
            <div class="product-info">
                <div class="product-price">
                    <div class="product-discount">-10%</div>
                    <div class="product-old-price">€1369</div>
                    <div class="product-new-price">€1234</div>
                </div>
                <a href="product_detail.php?id=1" class="product-name">Nome del Prodotto 0</a>
                <div class="product-rating">★★★  </div>
                <div class="product-tags">Marca: XYZ </div>
                <div class="product-tags">Tipo: Smartphone</div>
                <div class="product-tags">Anno: 2018</div>
            </div>
        </div>
        <div class="product">
            <a href="product_detail.php?id=1">
                <img src="/img/logo.png" alt="Immagine del Prodotto">
            </a>
            <div class="product-info">
                <div class="product-price">
                    <div class="product-discount">-10%</div>
                    <div class="product-old-price">€1369</div>
                    <div class="product-new-price">€1234</div>
                </div>
                <a href="product_detail.php?id=1" class="product-name">Nome del Prodotto 0</a>
                <div class="product-rating">★★★  </div>
                <div class="product-tags">Marca: XYZ </div>
                <div class="product-tags">Tipo: Smartphone</div>
                <div class="product-tags">Anno: 2018</div>
            </div>
        </div>
        <div class="product">
            <a href="product_detail.php?id=1">
                <img src="/img/logo.png" alt="Immagine del Prodotto">
            </a>
            <div class="product-info">
                <div class="product-price">
                    <div class="product-discount">-10%</div>
                    <div class="product-old-price">€1369</div>
                    <div class="product-new-price">€1234</div>
                </div>
                <a href="product_detail.php?id=1" class="product-name">Nome del Prodotto 0</a>
                <div class="product-rating">★★★  </div>
                <div class="product-tags">Marca: XYZ </div>
                <div class="product-tags">Tipo: Smartphone</div>
                <div class="product-tags">Anno: 2018</div>
            </div>
        </div>
        <div class="product">
            <a href="product_detail.php?id=1">
                <img src="/img/logo.png" alt="Immagine del Prodotto">
            </a>
            <div class="product-info">
                <div class="product-price">
                    <div class="product-discount">-10%</div>
                    <div class="product-old-price">€1369</div>
                    <div class="product-new-price">€1234</div>
                </div>
                <a href="product_detail.php?id=1" class="product-name">Nome del Prodotto 0</a>
                <div class="product-rating">★★★  </div>
                <div class="product-tags">Marca: XYZ </div>
                <div class="product-tags">Tipo: Smartphone</div>
                <div class="product-tags">Anno: 2018</div>
            </div>
        </div>
    </section>
    
    <br/>

</div>