<div id="category_manager" class="container">
    <div class="d-flex flex-wrap w-100">
        <aside class="bg-lightgray flex-shrink-0" aria-label="Category Management Navigation">
            <ul class="list-group">
                <li class="list-group-item active">
                    <a href="categorymanage.php" aria-label="Gestione Categorie" title="Gestione Categorie">
                        <span class="mdi mdi-shape-plus" aria-hidden="true"></span> Gestione Categorie
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="productmanage.php" aria-label="Gestione Prodotti" title="Gestione Prodotti">
                        <span class="mdi mdi-store" aria-hidden="true"></span> Gestione Prodotti
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="adminordermanage.php" aria-label="Gestione Ordini" title="Gestione Ordini">
                        <span class="mdi mdi-format-list-bulleted" aria-hidden="true"></span> Gestione Ordini
                    </a>
                </li>
            </ul>
        </aside>
        <div class="col-9">
            <div class="d-flex flex-column card pa-4">
                <div class="card-title">
                    <div class="d-flex space-between mb-4">
                        <h2 class="text-title">Categoria</h2>
                        <!-- button -->
                        <a class="btn btn-primary" href="newcategory.php" aria-label="Aggiungi Categoria">
                            <span class="mdi mdi-plus" aria-hidden="true"></span>
                            Nuovo
                        </a>
                    </div>
                </div>
                <div class="card-text">
                    <ul class="list-group">
                       {{ category_items }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
