<section class="container" aria-labelledby="editproduct_title">
    <div class="card pa-4">
        <h2 id="editproduct_title" class="card-title">
            Modifica Prodotto
        </h2>
        <div class="card-text">
            <form id="newProductForm" action="api/product/addproduct.php" method="post" onsubmit="return validateNewProduct()">
                <div class="text-center ">
                    <input type="hidden" name="product_id" value="{{ product_id }}" disabled>
                    <div class="form-group mx-auto">
                        <label for="product_name">Nome Prodotto</label>
                        <input type="text" class="form-control" id="product_name" name="product_name" value="{{ product_name }}" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="category">Categoria</label>
                        <select id="category" name="category" required>
                            <option value="">Scegli un categoria</option>
                            {{ categories }}
                        </select>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="brand">Marca</label>
                        <input type="text" class="form-control" id="brand" name="brand" value="{{ brand }}" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="color">Colore</label>
                        <input type="text" class="form-control" id="color" name="color" value="{{ color }}"
                        placeholder="Separare i colori con una virgola, se più di uno" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="price">Prezzo</label>
                        <input type="number" class="form-control" id="price" name="price" step="0.01" value="{{ price }}" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="price_discouted">Prezzo scontato</label>
                        <input type="number" class="form-control" id="price_discouted" 
                        placeholder="0 se non è scontato" value="{{ price_discouted }}"
                        name="price_discouted" step="0.01" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="description">Descrizione</label>
                        <textarea class="form-control" id="description" name="description" required>{{ description }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Conferma Modifica</button>
            </form>
        </div>
    </div>
</section>