<section class="container">
    <div class="card pa-4">
        <div class="card-title">
            Nuovo Categoria
        </div>
        <div class="card-text">
            <form action="api/category/addCategory.php" method="post">
                <div class="form-group">
                        <label for="category_name">Nome Categoria</label>
                        <input type="text" class="form-control" id="category_name" name="category_name" required>
                    </div>
                <button type="submit" class="btn btn-primary">Aggiungi Categoria</button>
            </form>
        </div>
    </div>
</section>