<section class="container" aria-labelledby="new_product_title">
    <div class="card pa-4">
        <h2 id="new_product_title" class="card-title">
            Nuovo Prodotto
        </h2>
        <div class="card-text">
            <form id="newProductForm" action="api/product/addproduct.php" method="post" enctype="multipart/form-data"
                onsubmit="return validateNewProduct()">
                <!-- Error message -->
                <div role="alert" id="error-msg" class="text-paragraph red" aria-live="assertive"></div>

                <div class="text-center ">
                    <div class="form-group mx-auto">
                        <label for="product_name">Nome Prodotto</label>
                        <input type="text" id="product_name" name="product_name" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="category">Categoria</label>
                        <select id="category" name="category" required>
                            <option value="">Scegli un categoria</option>
                            {{ categories }}
                        </select>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="brand">Marca</label>
                        <input type="text" id="brand" name="brand" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="color">Colore</label>
                        <input type="text" id="color" name="color"
                            placeholder="Separare i colori con una virgola, se più di uno" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="price">Prezzo</label>
                        <input type="number" id="price" name="price" step="0.01" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="price_discouted">Prezzo scontato</label>
                        <input type="number" id="price_discouted" placeholder="0 se non è scontato" name="price_discouted"
                            step="0.01" required>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="description">Descrizione</label>
                        <textarea id="description" name="description" required></textarea>
                    </div>
                    <div class="form-group mx-auto">
                        <label for="product_image">Immagine del prodotto</label>
                        <input type="file" id="product_image" name="product_image" accept="image/*" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Aggiungi Prodotto</button>
            </form>
        </div>
    </div>
</section>