<div id="category_manager" class="container">
    <div class="d-flex flex-wrap w-100">
        <aside class="bg-lightgray flex-shrink-0">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="categorymanage.php" aria-label="Gestione Categorie" title="Gestione Categorie">
                        <span class="mdi mdi-shape-plus" aria-hidden="true">Gestione Categorie</span>
                    </a>
                </li>
                <li class="list-group-item active">
                    <a href="productmanage.php" aria-label="Gestione Prodotti" title="Gestione Prodotti">
                        <span class="mdi mdi-store" aria-hidden="true">Gestione Prodotti</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="adminordermanage.php" aria-label="Gestione Ordini" title="Gestione Ordini">
                        <span class="mdi mdi-format-list-bulleted" aria-hidden="true">Gestione Ordini</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="col-9">
            <div class="d-flex flex-column card pa-4">
                <div class="card-title">
                    <div class="d-flex space-between mb-4">
                        <h2 class="text-title">Prodotti</h2>
                        <!-- button -->
                        <a href="newproduct.php" class="btn btn-primary">
                            <span class="mdi mdi-plus" aria-hidden="true"></span>Nuovo
                         </a>
                        
                    </div>
                </div>
                <div class="card-text overflow-x-auto">
                    
                    <table class="table" aria-describedby="tableCaption">
                        <caption id="tableCaption" class="sr-only">La tabella mostra i prodotti in <span lang="en">database</span>.</caption>
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modello</th>
                                <th scope="col">Categoria</th>
                                <th scope="col">Prezzo</th>
                                <th scope="col">Azioni</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ list }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>