<section id="category_manager" class="container" aria-labelledby="orderdetail_title">
    <h2 id="orderdetail_title" class="text-bigtitle ml-4">Dettaglio Ordine</h2>

    <div class="d-flex flex-wrap w-100">
        
        <aside class="bg-lightgray col-3 col-md-12">
            <ul class="list-group flex-column flex-wrap">
                <li class="list-group-item flex-grow-1">
                    <a href="{{ callback }}" aria-label="Torna in dietro" title="Torna in dietro">
                        <span class="mdi mdi-keyboard-backspace" aria-hidden="true">Torna in dietro</span>
                    </a>
                </li>
            </ul>
        </aside>

        <div class="col-9">
            <div class="d-flex flex-column card pa-4">
                <div class="card-title">
                    <div class="d-flex space-between mb-4">
                        <h2 class="text-title">Dettaglio Ordine</h2>
                        <h2 class="text-title">#{{ order_id }}</h2>
                    </div>
                </div>
                <div class="card-text overflow-x-auto">

                    <!-- accessible table -->
                    <table class="table text-center" aria-describedby="tableCaption">
                        <caption id="tableCaption" class="sr-only">La tabella mostra i dettagli dell'ordine</caption>
                        <thead>
                            <tr>
                                <th scope="col">Prodotto</th>
                                <th scope="col">Quantità</th>
                                <th scope="col">Prezzo</th>
                                <th scope="col">Totale</th>
                            </tr>
                        </thead>
                        <tbody>
                         {{ items }}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-right">Totale</td>
                                <td>{{ total }}</td>
                            </tr>
                        </tfoot>
                    </table>
                    
                </div>
            </div>
        </div>

    </div>
</section>