<div id="category_manager" class="container">
    <div class="d-flex flex-wrap w-100">
        <aside class="bg-lightgray flex-shrink-0">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="userprofile.php" aria-label="Torna in dietro" title="Torna in dietro">
                        <span class="mdi mdi-keyboard-backspace" aria-hidden="true">Torna in dietro</span>
                    </a>
                </li>
        </aside>
        <div class="col-9">
            <div class="d-flex flex-column card pa-4">
                <div class="card-title">
                    <div class="d-flex space-between mb-4">
                        <h2 class="text-title">Dettaglio Ordine</h2>
                        <h2 class="text-title">Numero di Ordine</h2>
                    </div>
                </div>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item d-flex space-between">
                            <p>Nome prodotto</p>
                            <p>Quantità</p>
                            <p>costo</p>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <p>Nome prodotto</p>
                            <p>Quantità</p>
                            <p>costo</p>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <p>Nome prodotto</p>
                            <p>Quantità</p>
                            <p>costo</p>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <p>Nome prodotto</p>
                            <p>Quantità</p>
                            <p>costo</p>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <p>Totale</p>
                            <p>costo</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>