<div id="category_manager" class="container">
    <div class="d-flex flex-wrap w-100">
        <aside class="bg-lightgray flex-shrink-0">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="userprofile.php" aria-label="Il mio profilo" title="Il mio profilo">
                        <span class="mdi mdi-account-circle" aria-hidden="true">Il mio profilo</span>
                    </a>
                </li>
                <li class="list-group-item active">
                    <a href="userordermanage.php" aria-label="I miei ordini" title="I miei ordini">
                        <span class="mdi mdi-format-list-bulleted" aria-hidden="true">I miei ordini</span>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="col-9">
            <div class="d-flex flex-column card pa-4">
                <div class="card-title">
                    <div class="d-flex space-between mb-4">
                        <h2 class="text-title">Ordini</h2>
                    </div>
                </div>
                <div class="card-text">
                    <ul class="list-group">
                        <li class="list-group-item d-flex space-between">
                            <div>
                                <p>Numero di ordine</p>
                                <p>data di ordine</p>
                            </div>
                            <a href="orderdetails.php" aria-label="I Miei Ordini" title="I Miei Ordini">
                                <button class="btn btn-icon bg-transparent blue">
                                    <span class="mdi mdi-information-outline" aria-hidden="true"></span>
                                </button>
                            </a>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <div>
                                <p>Numero di ordine</p>
                                <p>data di ordine</p>
                            </div>
                            <a href="orderdetails.php" aria-label="I Miei Ordini" title="I Miei Ordini">
                                <button class="btn btn-icon bg-transparent blue">
                                    <span class="mdi mdi-information-outline" aria-hidden="true"></span>
                                </button>
                            </a>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <div>
                                <p>Numero di ordine</p>
                                <p>data di ordine</p>
                            </div>
                            <a href="orderdetails.php" aria-label="I Miei Ordini" title="I Miei Ordini">
                                <button class="btn btn-icon bg-transparent blue">
                                    <span class="mdi mdi-information-outline" aria-hidden="true"></span>
                                </button>
                            </a>
                        </li>
                        <li class="list-group-item d-flex space-between">
                            <div>
                                <p>Numero di ordine</p>
                                <p>data di ordine</p>
                            </div>
                            <a href="orderdetails.php" aria-label="I Miei Ordini" title="I Miei Ordini">
                                <button class="btn btn-icon bg-transparent blue">
                                    <span class="mdi mdi-information-outline" aria-hidden="true"></span>
                                </button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>