
.btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    position: relative; 
    overflow: hidden; 
    /* remove link under line*/
    text-decoration: none;
}

.btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 0;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}
.btn:hover::after {
    width: 200%;
    height: 200%;
    opacity: 1;
}

.btn-large {
    font-size: 16px;
    padding: 10px 16px;
}

.btn-small {
    font-size: 12px;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #2929FF;
    border-color: #007bff;
    color: #fff;
}

.btn-primary::after {
    background-color: rgba(0, 123, 255, 0.2);
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-primary:hover::after {
    background-color: rgba(0, 86, 179, 0.2);
}

.btn-secondary {
    background-color: #525252;
    border-color: #6c757d;
    color: #fff;
}

.btn-secondary::after {
    background-color: rgba(108, 117, 125, 0.2);
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-secondary:hover::after {
    background-color: rgba(90, 98, 104, 0.2);
}

.btn-success {
    background-color: #1B6522;
    border-color: #28a745;
    color: #fff;
}

.btn-success::after {
    background-color: rgba(40, 167, 69, 0.2);
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:hover::after {
    background-color: rgba(33, 136, 56, 0.2);
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger::after {
    background-color: rgba(220, 53, 69, 0.2);
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:hover::after {
    background-color: rgba(200, 35, 51, 0.2);
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #212529;
}

.btn-warning::after {
    background-color: rgba(255, 193, 7, 0.2);
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-warning:hover::after {
    background-color: rgba(224, 168, 0, 0.2);
}

.btn-info {
    background-color: #0E5B67;
    border-color: #17a2b8;
    color: #fff;
}

.btn-info::after {
    background-color: rgba(23, 162, 184, 0.2);
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.btn-info:hover::after {
    background-color: rgba(19, 132, 150, 0.2);
}


/* test */
.btn-icon {
    padding: 6px 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 0px;
    overflow: hidden;
    position: relative;
    border: none;
    font-size: large;
}

/* .btn-icon {
    padding: 6px 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    position: relative;
} */
