.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-flex {
    display: flex;
}
.d-flex-inline {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}