header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    border-bottom: 1px solid var(--bordersColor);
    padding: 1px 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 2*10px);
    z-index: 100;
    height: fit-content;
    /* height: calc(var(--headerHeight) - 4*10px); */
}


/* LOGO */
header .logo-container .logo{
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
}
header .logo-container .logo-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    align-content: center;
}
header .logo-container a{
    text-decoration: none;
}
header .logo-container a:visited{
    color: var(--linkColor);
}
header .logo-container a:link {
    color: var(--linkColor)
}


/*  NAVIGAZIONE  */

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

header nav ul li{
    padding: 0 5px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--linkColor);
    font-size: 1.0rem;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: var(--visitedLinkColor);
    /* font-weight: bold; */
}


/*  BreadCrumbs  */
header .breadcrumbs{
    font-size: .9rem;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    list-style: none;
}

/* for each li add > after, not last */
header .breadcrumbs li:not(:last-child):after {
    content: '>';
    padding: 0 5px;
    color: var(--linkColor);
}
header .breadcrumbs a{
    text-decoration: none;
    color: var(--linkColor);
}
header .breadcrumbs a:visited {
    color: var(--linkColor);
}

header .breadcrumbs a:hover, 
header .breadcrumbs a:visited:hover {
    color: var(--visitedLinkColor);
}

#header_search_container {
    color: var(--headerTxtColor)
}


@media screen and (max-width: 767px) {
    #header_search_container {
        order: 2 !important;
    }
    header nav ul li a{
        font-size: .9rem;
    }
}


.horizontal-line {
    border-bottom: 1px solid #ccc;
    margin: 0 1px !important;
}

.vertical-line {
    border-left: 1px solid #ccc;
    height: 40px;
    margin: 0 1px;
    padding: 0px !important;
    width: 1px !important;
}