header{
    background-color: var(--headerBgColor);
    color: var(--headerTxtColor);
    border-bottom: 1px solid var(--bordersColor);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: calc(100vw - 2*10px);
    z-index: 100;
    height: calc(var(--headerHeight) - 2*10px);
}

header .logo-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}

header .logo{
    background-image: url(../../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
}
header .logo-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    text-align: center;
}

header nav ul li{
    padding: 0 10px;
}
header nav ul li a{
    text-decoration: none;
    color: var(--linkColor);
    font-size: 1.1rem;
    text-transform: uppercase;
}

header nav ul li a:hover{
    color: var(--visitedLinkColor);
    /* font-weight: bold; */
}


#language_select{
    flex-direction: column;
}

/* humbuerge menu */
@media screen and (max-width: 767px) {

    nav {
        display: none;
    }

    nav{
        margin-top: var(--headerHeight);
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 2*10px);
        background-color: var(--headerBgColor);
        color: var(--headerTxtColor);
        border-bottom: 1px solid var(--bordersColor);
        padding: 5px 10px;
        z-index: 999;
        height: calc(var(--headerHeight)/2);
    }
    
    nav ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around;
    }

   
    #language_select{
        flex-direction: row;
    }

    header nav ul li{
        padding: 0px 3px;
    }
}

