#rating {
    font-size: 0; /* 隐藏默认的 radio button */
    display: flex;
    width: 28%;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    #rating {
        width:95%;
        /* width: calc(100%-20px); */
    }
}

#rating input {
    display: none; /* 隐藏原始的 radio button */
}

#rating label {
    font-size: 40px;
    cursor: pointer;
    color: #ffc107; /* 选中后的星星颜色 */
}

#rating label:before {
    content: '\2605'; /* Unicode 字符编码，表示星星 */
}

#rating input:checked ~ label {
    /* color: #ffc107; */
    color: #ccc;
}

#rating label:hover:before,
#rating label:hover ~ label:before {
    color: #ccc;
}
#rating #rate_vote {
    font-size: 30px;
}



.bar-chart {    
    width: 64%;
    max-width: 600px; /* 最大宽度，可以根据需要调整 */;
    border-radius: 5px; /* 圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* 超出部分隐藏 */
    display: flex;
    flex-direction: column;
}

.bar-single{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.bar-label {
    font-size: 22px;
    cursor: pointer;
    color: #ffc107; /* 选中后的星星颜色 */
    text-align: right;
    width: 18%; /* 标签的宽度 */
    padding-right: 4px;
}

.bar-fill {
    min-width: 1%;
    border-radius: 5px;
    background-color: #4CAF50;
    height: 15px; /* 调整柱状的高度 */
    transition: width 1s ease; /* 过渡效果 */
}



@media screen and (max-width: 767px) {
    .bar-chart{
        width:95%;
        /* width: calc(100%-20px); */
    }
}